Repository pagopa/pagopa-ecommerce-event-dispatcher-service, pull requests merged in 2023-07, with the labels that each got.

#111 feat(close payment) added fields into transactionDetails
  pom.xml
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/services/NodeService.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/services/NodeServiceTests.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/utils/TestUtil.kt
Labels: enhancement

#120 [CHK-1693] update status constants
  pom.xml
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/services/NodeService.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/services/NodeServiceTests.kt
Labels: size/small

#112 [CHK-1589] fix closePayment retry logic
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/client/NodeClient.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/exceptions/BadClosePaymentRequest.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionClosePaymentQueueConsumer.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/client/NodeClientTest.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionClosePaymentQueueConsumerTests.kt
Labels: size/small

#121 Chk 1694 fix deploy pipeline
  .devops/azure-templates/chart-current-version.yml
  .devops/deploy-pipelines.yml
Labels: size/small

#107 [CHK-1566] feat(monitoring): use OpenTelemetry monitoring agent instead of Elastic APM
  Dockerfile
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
Labels: size/small

#122 feat(CD): deploy on pr merge
  .devops/deploy-pipelines.yml
  .github/actions/check-pr-semver-labels/action.yml
  .github/workflows/check_pr.yml
  .github/workflows/deploy.yml
  README.md
Labels: patch, chart-patch

#123 fix(close-payment fields) - fixed close payment ko fields
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/services/NodeService.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/services/NodeServiceTests.kt
Labels: size/small, patch, chart-patch

#124 fix: pr number extraction
  .github/actions/check-pr-semver-labels/action.yml
Labels: size/small, skip-release

#128 chore(test-deploy-action): add foo file for deploy action test
  foo.txt
Labels: size/small, skip-release

#130 [CHK-1565] feat(monitoring): correlate event dispatcher async processing with original endpoint
  pom.xml
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/config/OpenTelemetryConfig.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionExpirationQueueConsumer.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionsRefundQueueConsumer.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/common.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/services/eventretry/TracedRetryEventService.kt
  src/main/resources/META-INF/services/com.azure.core.util.serializer.JsonSerializerProvider
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionClosePaymentQueueConsumerTests.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionClosePaymentRetryQueueConsumerTests.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionExpirationQueueConsumerTests.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionNotificationsQueueConsumerTest.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/services/eventretry/ClosureRetryServiceTests.kt
  src/test/resources/META-INF/services/com.azure.core.util.serializer.JsonSerializerProvider
Labels: patch, chart-patch

#126 [CHK-1565] feat(tracing): add tracing to `TransactionNotificationsQueueConsumer`
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionNotificationsQueueConsumer.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionNotificationsQueueConsumerTest.kt
Labels: size/small, patch, chart-patch

#117 [CHK-1565] feat(tracing): add tracing support to `TransactionRefundQueueConsumer`
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionsRefundQueueConsumer.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionsRefundEventsConsumerTests.kt
Labels: size/small, patch, chart-patch

#116 [CHK-1565] feat(tracing): add tracing to `TransactionRefundRetryQueueConsumer`
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionRefundRetryQueueConsumer.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionRefundRetryQueueConsumerTest.kt
Labels: size/small, patch, chart-patch

#115 [CHK-1565] feat(tracing): add tracing to `TransactionNotificationsRetryQueueCons…
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionNotificationsRetryQueueConsumer.kt
  src/main/resources/application.properties
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionNotificationsRetryQueueConsumerTest.kt
Labels: size/small, patch, chart-patch

#131 [CHK-1565] feat(tracing): add tracing to `TransactionClosePaymentQueueConsumer`
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionClosePaymentQueueConsumer.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionClosePaymentQueueConsumerTests.kt
Labels: size/small, patch, chart-patch

#113 [CHK-1565] feat(tracing): add tracing to transaction closePayment retry consumer
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionClosePaymentRetryQueueConsumer.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionClosePaymentRetryQueueConsumerTests.kt
Labels: size/small, patch, chart-patch

#132 fix(nodo client): transaction id parsing as domain object
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/client/NodeClient.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/client/NodeClientTest.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/utils/TestUtil.kt
Labels: size/small, patch, chart-patch

#133 fix(events): allow closePayment consumer to parse legacy untraced events
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionClosePaymentQueueConsumer.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionClosePaymentQueueConsumerTests.kt
Labels: size/small, patch, chart-patch

#135 fix(events): allow notification consumer to parse legacy untraced events
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionNotificationsQueueConsumer.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionNotificationsQueueConsumerTest.kt
Labels: size/small, patch, chart-patch

#136 [CHK-1766] fix(events): allow notification retry consumer to parse legacy untraced events
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionNotificationsRetryQueueConsumer.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/TransactionNotificationsRetryQueueConsumerTest.kt
Labels: size/small, patch, chart-patch
