Repository pagopa/pagopa-ecommerce-event-dispatcher-service, pull requests merged in 2024-03, with the labels that each got.

#225 [CHK-2438] Update `closePayment` request body to support Checkout Redirect
  pom.xml
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/client/NodeClient.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/config/WebClientConfig.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v1/TransactionClosePaymentQueueConsumer.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v1/TransactionClosePaymentRetryQueueConsumer.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v2/helpers/ClosePaymentHelper.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v2/helpers/ClosePaymentOutcome.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v2/helpers/ClosePaymentRequestMixin.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/services/v1/NodeService.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/services/v2/NodeService.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/client/NodeClientTest.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/config/WebClientConfigTest.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v1/TransactionClosePaymentQueueConsumerTests.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v1/TransactionClosePaymentRetryQueueConsumerTests.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v2/helpers/ClosePaymentHelperTests.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/services/v1/NodeServiceTests.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/services/v2/NodeServiceTests.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/utils/TestUtil.kt
Labels: size/large, patch, chart-patch

#233 fix(closepayment): fix `additionalPaymentInformations.{fee,totalAmount}` types
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/services/v2/NodeService.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/services/v2/NodeServiceTests.kt
Labels: size/small, patch, chart-patch

#234 [CHK-2575] refactor(redirect): update commons
  pom.xml
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/services/v2/NodeService.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/services/v2/NodeServiceTests.kt
Labels: size/small, patch, chart-patch

#236 refactor(config): relax connection and server selection timeout params for Mongo
  helm/values-prod.yaml
Labels: size/small, patch, chart-patch

#237 feat: add redirect api client configuration
  .env.example
  README.md
  api-spec/client/openapi/redirect/redirect-api.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
  pom.xml
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/config/RedirectConfigurationBuilder.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/config/WebClientConfig.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v2/common.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/services/RefundService.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/validation/BeanValidationConfiguration.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/validation/CustomLocalValidatorFactoryBean.kt
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/validation/SuspendAwareKotlinParameterNameDiscoverer.kt
  src/main/resources/application.properties
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/config/RedirectConfigurationBuilderTest.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v2/TransactionsRefundEventsConsumerTests.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/services/RefundServiceTests.kt
  src/test/resources/application.test.properties
Labels: size/large, chart-minor, minor

#240 fix: set sendPaymentResultOutcome after close payment response
  src/main/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v2/helpers/ClosePaymentHelper.kt
  src/test/kotlin/it/pagopa/ecommerce/eventdispatcher/queues/v2/helpers/ClosePaymentHelperTests.kt
Labels: size/small, patch, chart-patch
